.header {
    background: var(--gray-700);
    height: 200px;

    display: flex;
    justify-content: center;
    padding: 4.5rem 0 5rem;
    flex-direction: column;
}

.header img {
    height: 3rem;
}